<div class="todos-wrapper">
    <div class="container">
        <ng-scrollbar #scrollable track="all" pointerEventsMethod="scrollbar">
            <div class="scroll-container">
                <ng-container *ngFor="let todo of todos">
                    <app-todo-item [completed]="todo.isCompleted" [todoText]="todo.text"></app-todo-item>
                </ng-container>
            </div>
        </ng-scrollbar>
        <app-add-button (addClick)="openDialog()"></app-add-button>
    </div>
</div>