<div class="container">
    <a routerLink="bookmarks" routerLinkActive="selected" class="tab-item bookmarks">
        <i class="material-icons-outlined tab-icon">
            bookmarks
        </i>
    </a>

    <a routerLink="todos" routerLinkActive="selected" class="tab-item todos">
        <i class="material-icons tab-icon">
            task_alt
        </i>
    </a>
    <a routerLink="notes" routerLinkActive="selected" class="tab-item notes">
        <i class="material-icons md-36 tab-icon">
            notes
        </i>
    </a>
</div>
