.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #ffffff91;
    width: fit-content;
    height: 60px;
    padding: 10px;
    border-radius: 5px;
}

.tab-item {
    height: 3.5rem;
    width: 3.5rem;

    margin: 5px;
    border-radius: 5px;
    
    transition: all 0.2s;

    color: beige;

}

.tab-container {
    &:not(:last-child)
    {
        margin-right: 5px;
    }
}

.tab-icon {
    font-size: 35px;
    margin: 10px;
}

.tab-item.selected {
    transform: translateY(-20px);

    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 2.275);
}

.bookmarks {
    background: radial-gradient(circle, rgba(63,212,251,1) 0%, rgba(70,141,252,1) 100%);
}

.todos {
    background: radial-gradient(circle, rgba(239,63,251,1) 0%, rgba(70,89,252,0.8130602582830007) 100%);
}

.notes {
    background: radial-gradient(circle, rgba(208,231,149,1) 0%, rgba(73,227,33,1) 100%);
}