.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    
    background-image: url("https://images.unsplash.com/photo-1615857087106-6fc633da3c73?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=1080&ixlib=rb-1.2.1&q=80&w=1920");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.header-section {
    flex: 1;
    //background-color: rgb(79, 124, 172);

    text-align: center;
    font-size: 28px;
    color: white;
}

.content-section {
    flex: 3;

}

.tab-section {
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex: 1;
}