@import '~material-icons/iconfont/material-icons.css';

html,body {
    height: 100%;
    margin: 0;
    
    font-family: "Abel", Arial, Helvetica, sans-serif;
}


@font-face {
    font-family: "Abel";
    src: local("Abel"), url(./assets/fonts/Abel/Abel-Regular.ttf) format("truetype");
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    height: 50vh;
    max-width: 35rem;
    gap: 5px;
    margin: auto;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
