@import '~material-icons/iconfont/material-icons.css';

html,body {
    height: 100%;
    margin: 0;
    
    font-family: "Abel", Arial, Helvetica, sans-serif;
}


@font-face {
    font-family: "Abel";
    src: local("Abel"), url(./assets/fonts/Abel/Abel-Regular.ttf) format("truetype");
}