<div class="bookmarks-wrapper">
    <div class="container">
        <ng-scrollbar #scrollable track="all" pointerEventsMethod="scrollbar">
            <div class="scroll-container">
                <ng-container *ngFor="let bookmark of bookmarks">
                    <app-bookmark-item [url]="bookmark.url" [name]="bookmark.name"></app-bookmark-item>
                </ng-container>
            </div>
        </ng-scrollbar>

        <app-add-button (addClick)="openDialog()"></app-add-button>
    </div>
</div>
