<div class="bookmarks-wrapper">
    <div class="container">
        <div class="item-container">
            <app-bookmark-item iconUrl="http://wikipedia.org/favicon.ico" iconText="Wikipedia"></app-bookmark-item>
            <app-bookmark-item iconUrl="http://google.com/favicon.ico" iconText="Lorem ipsum dolar sit amet consectetur"></app-bookmark-item>
            <app-bookmark-item iconUrl="http://yahoo.com/favicon.ico" iconText="Yahoo"></app-bookmark-item>
        </div>
        <app-add-button></app-add-button>
    </div>
</div>
